* {
    box-sizing: border-box;
  }

body{
    background-image: url(../images/concrete_seamless.png);
    background-size:cover;
    background-repeat: no-repeat;
    color: #777777;
    
}
.header-bar{
    background-color:white;
    position:fixed;
    top:0;
    right:0;
    width: 100%;
    height: 60px;  
    clear:both;
    margin-left: auto;
    margin-right: auto;

}

#top-header {
    background-color: #ffffff;
    max-width: 960px;
    height: 60px;  
    clear:both;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    
}

h1{
    
    background-color: #4aaaa5;
    display: inline;
    text-align: center;
    padding-bottom: 25px;
    color:white;
    padding:25px;
    
}
nav {
    float:right;
    margin-top: 30px;
    font-size: 20px;
    color: #777;
    text-decoration: none;
}

#main {
    width: 960px;
    Background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 80px auto 40px auto;
    overflow:auto;
    padding:10px;
    line-height: 1.5;
}

#stage {

    Width: 200px;
    height:200px;
    border: solid;
    float: left;
    margin: 10px;

}

li:first-child {
    border: none;
}

footer {

    position: fixed;
    left:0;
    bottom:0;
    background-color:#666666;
    padding:10px;
    width:100%;
    height:30px;
    clear:both;
    text-align: center;
    border-top: solid ;
    border-color: #4aaaa5;
    border-width: 6px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #4aaaa5;
    width: 15%;
    margin:10px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    color: #eee;
  }

#form {
    margin-left:auto;
    margin-right: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow: auto; 
}

  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    
  }

img {
    float: left;
    width:100%;
    margin-top:20px;
}

a link{
    text-decoration: none;
    color: #777777;
}
  
a:hover {
    text-decoration: underline;
}
  
a:visited {
    text-decoration: none;
}
  a:active {
    text-decoration: none;
}

  /* Container holding the image and the text */
.container {

    position: relative;
    float:left;
    width:33%;
    margin: 20px;
  }
  
  /* Bottom right text */
  .text-block {
    width: 100%;
    position: absolute;
    bottom: 20px;
    background-color:#4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

  }
  

