h1{
    background-color: #4aaaa5;
    width:20%;
    color:#eee;
    padding: 12px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 200px;
    margin-bottom:0px;
    float:left;
    
}
/*
nav ul li {
    display:inline-block;
    float: right;
    margin-right: 60px;
    margin-top: 60px;
    padding: 0;
    font-size: 24px;
    overflow:auto;
}
*/
ul{
    float: right;
    margin-top: 40px;
    margin-right: 60px;
}

li{
    display: inline;
    border-left:solid;
    border-color: gray;
    border-width: 1px;
    /*margin-right: 60px;*/
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
li:first-child {
    border: none;
}

section {
    background-image: url(https://st.depositphotos.com/1003860/2398/i/950/depositphotos_23982891-stock-photo-background-handmade-paper.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: -10px;
    margin-left: 50px;
    margin-right: 50px;
    height:500px;
    border-top: 2px solid;
    border-color:#dddddd;
}
h2 {
    margin:20px;
}

#main {
    clear:both;
    Background-color: #eee;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow: auto;
    width:80%;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 200px;
}
#stage{

    Width: 200px;
    height:200px;
    border: solid;
    float: left;
    margin:20px;

}

p {
    /*float:left;
    width: 80%;*/
    /*padding:10px;*/
   margin:20px;
}

footer {
    background-color:#666666;
    padding:10px;
    width:100;
    height:20px;
    clear:both;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    border-top: solid ;
    border-color: #4aaaa5;
    border-width: 6px;
    
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #4aaaa5;
    width: 15%;
    margin:10px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    color: #eee;
  }

  #form {
      margin-left:20px;
      margin-right:20px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    
  }
